/* Colores del logotipo, sacados con GIMP a partir de la imagen del logo */

.color-primary-1 {
    color: #b4a2a4
}

.color-primary-2 {
    color: #8f7377
}

.color-primary-3 {
    color: #6a454a
}

.color-primary-4 {
    color: #45171d
}

.cn {
    display: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-arriba {
    display: flex;
    justify-content: space-between;
}

.ir-a-home {
    margin: 0%;
    margin-bottom: -1.5%;
    margin-top: -1%;
}

.logo {
    width: 300px;
    height: auto;
}

.idiomas {
    color: #45171d;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0%;
}

.idiomas li {
    font-size: 125%;
}

.menu-principal, .pie-de-pagina {
    background-color: #45171d;
    color: white;
    margin: 0%;
}

.menu-principal li {
    font-size: 150%;
}

.menu-principal li, .pie-de-pagina li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

a:visited {
    color: inherit;
}

.menu-principal li:hover, .pie-de-pagina li:hover, .idiomas li:hover {
    background-color: #b4a2a4;
    color: #45171d;
    text-decoration: underline;
}

.pie-de-pagina {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
}

.columna50 {
    float: left;
    width: 45%;
    padding: 1.25%;
}

.encolumna {
    float: left;
    display: flex;
    flex-direction: column;
}

.columna25 {
    float: left;
    width: 20%;
    padding: 1.25%;
}

.columna75 {
    float: left;
    width: 70%;
    padding: 1.25%;
}